.gradle/
build/
*/build/

local.properties

*.iml
.idea/.name
.idea/caches/
.idea/compiler.xml
.idea/deploymentTargetSelector.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml

*.apk
*.aab
*.ap_
*.dex
*.class

fitlife-ui.png
